body {
  background-color: rgb(61, 78, 31);
  color: aqua;
  text-align: center;
}
button {
  background-color: gold;
  color: crimson;
  font-weight: bolder;
}
[id='1'] {
  visibility: hidden;
}
[id='4'] {
  visibility: hidden;
}